[submodule "extern/sdsl"]
	path = extern/sdsl
	url = git://github.com/simongog/sdsl-lite
[submodule "extern/libdivsufsort-gin"]
	path = extern/libdivsufsort-gin
	url = https://github.com/uensalo/libdivsufsort-gin.git
